/* pagina mural */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Belanosima:wght@400;600;700&family=Cairo:wght@200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Belanosima:wght@400;600;700&family=Cairo:wght@200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Belanosima:wght@400;600;700&family=Cairo:wght@200..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Belanosima:wght@400;600;700&family=Cairo:wght@200..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Nastaliq+Urdu:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --light-blue: #40e0d0;
    --royal-orange: #ff6700;
    --carmison-red: #990000;
    --ivory:#f5f5f5;
    --royal-orange: #D67F2B;
    --persian-blue: #14213D;
    --blue: #1c39bb;
    --light-gold: #FCA311;
    --golden: #ffd700;
    --white: #FFFFFF;
    --beige: #E5E5E5;
    --soft-gray: #F5F5F5;
    --brown: #3b2e2a;
    --tamanho-header:90px;
    --tamanho-footer: 65px;
    --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
    background-color: var(--ivory);
    color: var(--persian-blue);
    background-image: url("../assets/flat-arabic-pattern-background_79603-1826.avif");
    background-size: cover;
    background-attachment: fixed;
}


.janela {
    display: flex;
    height: 100vh;
    background-color: var(--ivory);
    justify-content: center;
    background-image: url(../assets/1000_F_414193137_L9DQMMSmiD8Lw0JGaowTXGDmiKEwKDnV.jpg);
    background-size: cover;
    overflow-y: auto;
   
}

.header-left {
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100vh;
    background-color: var(--brown);
    color: var(--ivory);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 3px solid var(--light-gold);
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Playfair Display', serif;
}

.header-left h1 {
    font-size: 36px;
    margin-bottom: 20px;
    font-family: 'Noto Nastaliq Urdu', serif;
    color: #f4c430;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  font-size: 20px;
    font-family: 'Cairo', sans-serif;
    margin-bottom: 30px;
    color: var(--light-gold);
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav,
.btn-nav-white {
    width: 100%;
    padding: 10px 15px;
    margin: 5px 0;
    border-radius: 30px;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    text-align: center;
}

.btn-nav h3,
.btn-nav-white h3 {
    margin: 0;
    font-size: 18px;
}

.btn-nav {
   background-color: var(--light-gold);
    color: #3b2e2a;
    font-weight: bold;
}

.btn-nav-white {
  background-color: transparent;
    border: 2px solid var(--light-gold);
    color: var(--ivory);
}

.btn-nav-white:hover {
    background-color: var(--light-gold);
    color: #3b2e2a;
}

.btn-nav-white h3 {
  margin: 0;
    font-size: 18px;
}

.btn-nav:hover {
    background-color: var(--golden);
}

.btn-nav-white a {
    text-decoration: none;
    color: inherit;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin-top: auto;
  padding: 10px 15px;
  width: 20%;
  background-color: var(--carmison-red);
  color: var(--ivory);
  border-radius: 30px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn-logout:hover {
    background-color: #cc0000;
}

.arte, .main, .dash-right, .lista {
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    margin: 40px auto;
    padding: 40px;
    color: var(--brown);
    font-family: 'Cairo', sans-serif;
    margin-left: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.arte h1, .music-playlist h2, .chart h2, .arte h2, .lista h2 {
    color: var(--light-gold);
    font-family: 'Playfair Display', serif;
    background-color: var(--persian-blue);
    border-radius: 100px;
    padding: 10px 30px;
}

.art-box {
    background-color: white;
    border: 2px solid #f4c430;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding: 20px;
    max-width: 600px;
    text-align: center;
    transition: transform 0.3s ease;
}

.art-box:hover {
    transform: scale(1.01);
}

.art-box img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin: 20px 0;
    border: 1px solid #f4c430;
}

.art-box p {
    font-size: 18px;
    margin: 10px 0 20px 0;
}

#like {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: #e74c3c;
    transition: transform 0.2s ease;
}

#like:hover {
    transform: scale(1.2);
}

#fav-songs div,
#fav-art div {
  background-color: white;
    border: 2px solid #f4c430;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding: 20px;
    max-width: 600px;
    text-align: center;
    transition: transform 0.3s ease;
}

#fav-songs div:hover,
#fav-art div:hover {
  transform: scale(1.01);
}

#fav-songs strong {
  font-size: 18px;
  color: var(--persian-blue);
}

#fav-songs audio {
  margin-top: 10px;
  width: 100%;
}

#fav-art img {
  margin-top: 10px;
  border-radius: 8px;
  max-width: 100%;
  height: auto;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

#fav-art p {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.4;
}

.musicas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    gap: 40px;
    justify-content: center;
    margin-top: 100px;
}

.music-playlist, .chart {
    background-color: white;
    border: 2px solid #f4c430;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding: 20px;
    max-width: 600px;
    text-align: center;
    
}

#playlist-container > div {
    background: #f6f1ea;
    border-radius: 12px;
    margin-bottom: 15px;
    padding: 15px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease;
}

#playlist-container > div:hover {
    transform: translateY(-3px);
}

#playlist-container p {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    color: var(--persian-blue);
    flex: 1;
}

#playlist-container button {
    background-color: var(--brown);
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 8px 12px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#playlist-container button:hover {
    background-color: var(--persian-blue);
}

#audioPlayer {
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
}

.chart canvas {
    width: 100% !important;
    height: 400px !important;
}

